.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CBD5E1;
    height: 100vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark .sidebar {
    background-color: #334155;
}

.opensidebar {
    width: 16vw;
}

.lulaicon {
    margin-top: 4rem;
    font-size: 30px;
    color: rgb(38, 126, 126);
    margin-bottom: 4rem;
}

.btn_sidebar {
    background-color: rgba(255, 255, 255, 0.261);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    position: absolute;
    bottom: 1.5%;
    width: 70%;
    left: 15%;
    transition-duration: 0.2s;
}

.btn_sidebar:hover {
    background-color: rgb(38, 126, 126);
}

.menu_item_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

@media only screen and (min-width: 1600px) {
    .sidebar {
        width: 6vw;
    }

    .opensidebar {
        width: 12vw;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0vw;
        visibility: hidden;
    }

    .opensidebar {
        width: 50vw;
        z-index: 100;
        visibility: visible;
    }

    .btn_sidebar {
        position: absolute;
        left: 30px;
        bottom: 80px;
        visibility: visible;
        z-index: 1000;
        width: 50px;
    }
}